
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GooFlowDemo</title>
    <link href="~/Scripts/GooFlow/GooFlow.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/GooFlow/data.js"></script>
    <script src="~/Scripts/GooFlow/GooFunc.js"></script>
    <script src="~/Scripts/GooFlow/json2.js"></script>
    <script src="~/Scripts/GooFlow/GooFlow.js"></script>
</head>
<body>
    <div class="container" style="width:1218px;">
        <div id="demo" style="margin:10px"></div>
        <input id="submit" type="button" class="btn" value='导出结果' onclick="Export()" />
        <input id="btm" type="button" class="btn" value='全屏显示' onclick="qp()" />
        <textarea id="result" row="6"></textarea>
    </div>
    <style>
        .GooFlow_work{
            overflow:hidden;
        }
    </style>
    <script type="text/javascript">
        var property = {
            width: 800,
            height: 600,
            toolBtns: ["start round", "end round", "task round", "node", "chat", "state", "plug", "join", "fork", "complex mix"],
            haveHead: true,
            headBtns: ["new", "open", "save", "undo", "redo", "reload"], //如果haveHead=true，则定义HEAD区的按钮
            haveTool: true,
            haveGroup: true,
            useOperStack: true
        };
        var remark = {
            cursor: "选择指针",
            direct: "结点连线",
            start: "入口结点",
            "end": "结束结点",
            "task": "任务结点",
            node: "自动结点",
            chat: "决策结点",
            state: "状态结点",
            plug: "附加插件",
            fork: "分支结点",
            "join": "联合结点",
            "complex mix": "复合结点",
            group: "组织划分框编辑开关"
        };
        var demo;
        $(document).ready(function () {
            demo = $.createGooFlow($("#demo"), property);
            demo.setNodeRemarks(remark);
            //demo.onItemDel=function(id,type){
            //	return confirm("确定要删除该单元吗?");
            //}
            demo.loadData(jsondata);
        });
        var out;
        function Export() {
            document.getElementById("result").value = JSON.stringify(demo.exportData());
        }
        function qp() {
            $("#demo").css({
                height: function () {
                    return $(document).height()-20;
                },
                width: function () {
                    return $(document).width()-20;
                },
            });    

            $(".GooFlow_work").css({
                height: function () {
                    return $("#demo").height()-40;
                },
                width: function () {
                    return $("#demo").width()-40;
                },
            });    

        }
    </script>
</body>
</html>
