
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Radio</title>
    <!-- import CSS -->
    <link href="~/Scripts/ElementUI/index.css" rel="stylesheet" />

</head>
<body>
    <template>
        <el-radio v-model="radio" label="1">备选项</el-radio>
        <el-radio v-model="radio" label="2">备选项</el-radio>
    </template>
    <!-- import Vue before Element -->
    <script src="~/Scripts/ElementUI/vue.js"></script>
    <!-- import JavaScript -->
    <script src="~/Scripts/ElementUI/index.js"></script>
    <script>
  @*@(@"export default {
    data() {
            return {
            radio:
                '1'
                };
        }
    }")*@
    </script>
</body>
</html>
